
@font-face {
	font-family: 'Helvetica Now Text';
	src: url('./HelveticaNowText-Light.ttf');
}


@font-face {
	font-family: 'Futura';
	src: url('./Nike\ Futura\ ND.ttf');
} 
@font-face {
	font-family: 'Thunder';
	src: url('./Thunder-ExtraBoldLC.ttf');
} 
@font-face {
	font-family: 'Tomorrow';
	src: url('./Tomorrow-ExtraLight.ttf');
} 