 .Header__topbar {
     background-color: #f5f5f5;
     padding: 10px 16px !important;
     display: flex;
     justify-content: space-between;
     align-items: center;

     .Header__topbar-menu-list {
         display: flex;
         align-items: center;

         a {
             font-size: 12px;
             border-right: 1px solid #000;
             padding-right: 10px;
             margin-left: 10px;
         }

     }
 }

 .Header {



     .Header__wrap-menu {

         align-items: center;
         padding: 10px 0;
         display: flex;
         justify-content: space-between;

         #pon {
             width: 80px;
         }

         .Header__nav {
             .Header__nav-list {
                 display: flex;
                 gap: 20px;
             }
         }

         .Header__tools {
             .Header__tools-list {


                 display: flex;
                 align-items: center;
                 gap: 10px;
                
                 .Header__form {
                background: #000;
                    padding: 5px 10px;
                    overflow: hidden;
                    background-color: #f5f5f5;
                    border-radius: 20px;

                     position: relative;
                     display: flex;

                     .Header__input {
                         border: none;
                         padding: 5px 40px 5px 10px;
                         background-color: #f5f5f5;
                        outline: none;
                        font-size: 16px;
                     }
                   
                   

                     .Header__form-btn {
                        background-color: transparent;
                         border: none;

                     }

                     .Header__icon-search {
                        border-radius: 50%;
                     }
                 }

                 .Header__tools-item {
                     padding: 5px;
                     width: 35px;
                     height: 35px;
                 }

                 .Header__tools-item:hover {
                     border-radius: 50%;
                     background-color: #CACACB;
                 }
             }

             .Header__tools-burger {
                 border: none;
                 background-color: transparent;
             }

             .Header__tools-link {
                 position: relative;
             }

             .Header__tools-bag::before {
                 content: '';
                 width: 12px;
                 font-size: 12px;
                 height: 12px;
                 right: 6px;
                 bottom: 4px;
                 text-align: center;
                 border-radius: 50%;
                 position: absolute;
             }

         }
     }
 }